<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>관리자 페이지</h1>
        <div>사용자 정보 버튼</div>
    </header>
    
    <section>
        <header>
            <h1>일별 매출추이</h1>
            <div>
                <a href="">이전</a>
                <span>12월</span>
                <a href="">다음</a>
            </div>
        </header>

        <div>
            <!-- 일별 매출추이 그래프 -->
        </div>
    </section>


    <section>
        <header>
            <h1>금일 판매내역</h1>
            
            <div>
                <a href="">이전</a>
                <span>25일</span>
                <a href="">다음</a>
            </div>

            <a href="">전체보기</a>
        </header>
    
        <ul>
            <li>
                <img src="" alt="newlec">
                <span>newlec</span>
                <span>주문시간 : 2021-11-23 18:23:19</span>
                <span>총5건</span>
                <span>17,500원</span>
                <a href="">주문상세내역</a>
            </li>
        
            <li>
                <img src="" alt="kooki">
                <span>kooki</span>
                <span>주문시간 : 2021-11-23 18:23:19</span>
                <span>총5건</span>
                <span>17,500원</span>
                <a href="">주문상세내역</a>
            </li>
        </ul>
    </section>

    <div>
        <a href="">공지추가</a>
        <a href="">주문관리</a>
        <a href="menu/list">메뉴관리</a>
    </div>   

</body>
</html>