<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> 
    <link rel="stylesheet" href="../../css/member/notice/detail/index.css">
</head>
<body>
    
    <section class="bg-col">
        <div class="add-menu">
            <h1>추가된 메뉴 안내</h1>
            <div>
                <a href="../index.html">닫힘</a> 
            </div>
            <div class="add-menu-info">
                <div>
                    <span>작성자 : admin</span>
                    <span>2021-12-25</span>
                </div>            
                <p>겨울을 맞아 건강에 좋은 새로운</br> 따뜻한 차가 추가 되었습니다.</p>
                <div>
                    <img src="../../../images/23.png">
                    <span>알랜드 커피</span>
                    <span>4,500원</span>                
                </div>
            </div>   
        </div>             
    </section>
    
    
</body>
</html>