<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/member/notice/list/index.css">
    <script>
        (function(d) {
          var config = {
            kitId: 'icp2det',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
</head>
<body>

    <header class="header">
        <h1>관리자 페이지</h1>
        <div>
            <a href="">사용자 정보 버튼</a>
        </div>
    </header>

    <section class="notice-list">
        <header>
            <h1>공지사항 목록[102]</h1>            
            <div>
                <a href="">검색버튼</a>
            </div>
        </header>

        <div class="notice-contents">
            <article>            
                <h1>
                    <a href="">- 새로운 메뉴를 맛보세요.</a>
                </h1>
                <span>2021-12-25</span>
            </article>
    
            <div class="content-img">            
                <details>   
                    <summary>
                        - 겨울을 맞아 건강에 좋은 새로운
                    </summary>
                    <p>따뜻한 차가 추가 되었습니다.</p>           
                    <div>
                        <img src="../../images/8 Small.jpeg" alt="알랜드 커피">
                        <span>알랜드 커피</span>
                        <span> 4,500</span>
                    </div>
                </details>   
                <span>2021-12-25</span>
            </div>
    
            <article>                        
                <h1>
                    <a href="">- 가격 변동이 있을 예정입니다.</a>
                </h1>
                <span>2021-12-25</span>
            </article>

            <div class="notice-more">
                <a href="">더보기(13+)</a>
            </div>

        </div>
  
    </section>
    
</body>
</html>