<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rland.web.repository.MenuRepository">

	<resultMap id="menuResultMap" type="Menu">
	  <result property="regDate" column="reg_date"/>
	  <result property="categoryId" column="category_id"/>	  
	  <result property="regMemberId" column="reg_member_id"/>
	</resultMap>
	
	<resultMap id="menuViewResultMap" type="MenuView">
		<result property="regDate" column="reg_date" />
		<result property="categoryId" column="category_id" />
		<result property="categoryName" column="category_name" />	
		<result property="regMemberId" column="reg_member_id" />
	</resultMap>
	
	<select id="findAll" resultMap="menuResultMap">
		select * 
		from menu
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="query != null">
				name like '%${query}%'
			</if>
			<if test="price != null">
				and price > #{price}
			</if>
			<if test="categoryId != null">
				and categoryId = #{categoryId}
			</if> 
		</trim>
		<if test="orderField != null">
			order by ${orderField} ${orderDir}
		</if>
		<if test="size != null">
			limit #{size} offset #{offset}
		</if>		 
		
	</select>
	<select id="findViewAll" resultMap="menuViewResultMap">
		select *
		from menu_view
		<trim prefix="where" prefixOverrides="AND | OR">
			<if test="query !=null">
				name like '%${query}%'
			</if>
			<if test="price != null">
				and price > #{price}
			</if>
			<if test="categoryId != null">
				and category_id = #{categoryId}
			</if>
		</trim>
		<if test="orderField != null">
			order by ${orderField} ${orderDir}
		</if>
		<if test="size != null">
			limit #{size} offset #{offset}
		</if>
	</select>
	<select id="findAllByIds" resultMap="menuResultMap">
		select *
		from menu
		<where>
		    <foreach item="id" index="index" collection="list"
		        open="ID in (" separator="," close=")">
		          #{id}
		    </foreach>
	  	</where>	
	</select>	
	
	<select id="findById" resultMap="menuResultMap">
		select *
		from menu
		where id=#{id}
	</select>
	
	<select id="count" resultType="Integer">
		select count(id) count
		from menu
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="query != null">
				name like '%${query}%'
			</if>
			<if test="price != null">
				and price > #{price}
			</if>
			<if test="categoryId != null">
				and categoryId = #{categoryId}
			</if> 
		</trim>
	</select>
	<insert id="insert" parameterType="Menu">
		insert into menu(name, price, img, category_id, reg_member_id)
		value(#{name},#{price},#{img},#{categoryId},#{regMemberId})
	</insert>
	<update id="update" parameterType="Menu">
		update menu
		 <trim prefix="SET" suffixOverrides=",">
		 	<if test="price != null">
		 		price=#{price},
		 	</if>
		 	<if test="name != null">
		    	name = #{name},
		    </if>
		    <if test="img != null">
		    	img = #{img}
		    </if>
		 </trim>		
		where id = #{id}
	</update>
	<delete id="delete">
		delete from menu where id=${id}
	</delete>
</mapper>

