<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header class="header">
        <div>
            <h1 class="header-title"><a href="/index.html"><img class="logo" src="/image/logo-w.png" alt="알랜드"></a></h1>
            
            <ul class="main-menu d-none d-inline-flex-sm">
				<li><a class="" href="/menu/list">카페메뉴</a></li>
                <li><a class="" href="/notice/list">공지사항</a></li>
                <li><a class="" href="/user/login">로그인</a></li>
            </ul>
			<div class="d-none-sm"><a class="icon icon-menu icon-white" href="?m=on">메뉴버튼</a></div>
        </div>
    </header>
</html>