<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="inc/layout"
>
<main layout:fragment="main">
		<section>
			<header class="search-header">
				<h1 class="text-title1-h1" th:text="${data}">알랜드 메뉴</h1>
				<!-- action="list" 이게 뭐지? -->
				<form action="list" method="get">
					<input type="hidden" name="c" th:value="${param.c}">
					<input type="text" name="q" th:value="${param.q}">
					<input type="submit" class="icon icon-find">
				</form>
			</header>
			<aside class="aside-bar">
				<h1>aside</h1>
				<section class="aside-bar-content">
					<h1>메인메뉴</h1>
					<ul class="mt-3">
						<li><a href="">카페메뉴</a></li>
						<li><a href="">공지사항</a></li>
						<li><a href="/user/login.html">로그인</a></li>
					</ul>
				</section>
			</aside>
			<nav class="menu-category">
				<div>
					<h1 class="text-normal-bold">메뉴분류</h1>
				</div>
				<ul>
					<li class="" th:class="${param.c}==null ? 'menu-selected'">
						<a href="list">전체</a>
					</li>
					<!-- 이건뭔소리여 #strings??  -->
					<li th:each="c : ${categoryList}"
						th:class="${#strings.equals(param.c, c.id)}? 'menu-selected'">
						<a th:class="(${param.c}==${c.id})? 'menu-selected'" href="?c=1" th:href="@{list(c=${c.id})}" th:text="${c.name}">커피음료</a>
					</li>					
				</ul>
			</nav>

			<section class="cart-section">
				<h1 class="d-none">장바구니</h1>
				<span class="text-title3">커피음료</span>
				<div class="icon icon-basket icon-text">1</div>
			</section>

			<section class="menu-section">
		        <h1 class="d-none">메뉴목록</h1>
		        <div class="menu-list">
		            <section class="menu" th:each="menu : ${list}">
		                <form class="">
		                    <h1><span th:text="${menu.name}">알랜드 커피</span><span style="font-size:11px;" th:text="${menu.categoryName}"> /커피메뉴</span></h1> 
		                    <div class="menu-img-box">
		                    	<!-- detail 페이지에 id값 넘겨주는 장면 -->
		                        <a href="detail" th:href="@{detail(id=${menu.id})}"><img class="menu-img" src="@/image/product/12.png" th:src="@{/image/menu/{img}(img=${menu.img})}"></a>
		                    </div>    
		                    <div class="menu-price" th:text="${#numbers.formatInteger({menu.price},3,'COMMA')}+' 원'">4500 원</div>
		                    <div class="menu-option-list">
		                        <span class="menu-option">
		                            <input class="menu-option-input" type="checkbox">
		                            <label>ICED</label>
		                        </span>            
		                        <span class="menu-option ml-2">
		                            <input class="menu-option-input" type="checkbox">
		                            <label>Large</label>
		                        </span>
		                    </div>
		                    <div class="menu-button-list">
		                        <input class="btn btn-fill btn-size-1 btn-size-1-lg" type="submit" value="담기">
		                        <input class="btn btn-line btn-size-1 btn-size-1-lg ml-1" type="submit" value="주문하기">
		                    </div>
		                </form>
		            </section>		            
		        </div>
		    </section>

			<div class="d-flex justify-content-center py-3">
				<a href="" class="btn btn-round w-100 w-50-md py-2">더보기(13+)</a>
			</div>

			<section class="new-menu menu-section-p">
				<h1 class="d-none">신메뉴 목록</h1>
				<!-- <ul>
                    <li>
                    </li>
                </ul>  -->
				<div class="list">
					<span>신규로 출시된 메뉴가 없습니다.</span>
				</div>
			</section>

		</section>
	</main> 

</html>
