<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/member/inc/index.css">
</head>

<body>
    <aside class="aside-screen01">
        <div class="aside-screen02">
            <header class="header">            
                <h1>프로필 어사이드</h1>
                <div>
                    <a href="">홈 버튼</a>
                    <a href="">사용자 정보 버튼</a> 
                    <a href="">닫기 버튼</a> 
                </div>                        
            </header>
    
            <section class="profile">
                <h1>프로필정보</h1>
                <div>
                    <img src="../../images/8.png" alt="user-img">
                    <span>이미지 변경</span>
                    <span>프로필 변경</span>
                    <span>newlec</span>
                    <span>newlec@namoolab.com</span>
                </div>
                <div>
                    <a href="../../index.html">로그아웃</a>
                </div>
            </section>
     
            <section class="info">
                <header>
                    <h1>New 공지사항</h1>
                    <a href="">전체보기</a>
                </header>
    
                <article class="info-01">
                    <h1>공지사항1</h1>                
                    <p>- 새로운 메뉴를 맛보세요~</p>
                    <span>2021-12-25</span>
                </article>
    
                <article class="info-02">
                    <h1>공지사항2</h1>                    
                    <div>
                        <p>
                            - 겨울을 맞아 건강에 좋은 새로운</br>
                            따뜻한 차가 추가 되었습니다.
                        </p>
                        <div class="info-img01">
                            <img src="../../images/8.png" alt="coffee">
                            <div>
                                <span>알랜드 커피</span>
                                <span>4,500 원</span>
                            </div>
                        </div>
                    </div>
                    <span>2021-12-25</span>
                </article>
    
                <article class="info-03">
                    <h1>공지사항3</h1>
                    <p>- 새로운 메뉴를 맛보세요~</p>
                    <span>2021-12-25</span>
                </article>
            </section>
    
            <nav class="foot-menu">
                <h1>알랜드 메뉴</h1>
                <div>
                    <a href="">메뉴선택</a>
                </div>
                <ul>
                    <li>
                        <a href="">- 커피음료(3)</a>
                    </li>
                    <li>
                        <a href="">- 수제청(7)</a>
                    </li>
                    <li>
                        <a href="">- 샌드위치(5)</a>
                    </li>
                </ul>
            </nav>
        </div>
        

        <!-- </section> -->
    </aside>
</body>

</html>