<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="inc/layout" 
>
<main class="main-padding-none" layout:fragment="main">
<script src="/js/admin/menu/list.js" defer="defer"></script>
		<section id="main-section">
			<header class="search-header">
				<h1 class="text-title1-h1">알랜드 메뉴 <span v-text="test"></span></h1>
				<form>
					<input type="text">
					<input type="submit" class="icon icon-find">
				</form>
			</header>

			<nav class="menu-category">
				<header class="d-flex">
					<h1 class="text-normal-bold">메뉴분류</h1>
					<div>						
						<a class="btn btn-mini bg-blue" href="">분류추가</a>
					</div>
				</header>
				<ul>
					<li class="menu-selected">
						<a href="/menu/list">전체</a>
					</li>
					<li>
						<a href="">커피음료</a>
					</li>
					<li data-id="2" @click.prevent="categoryClickHandler">
						<a href="">수제청</a>
					</li>
					<li>
						<a href="">샌드위치</a>
					</li>
					<li>
						<a href="">쿠키</a>
					</li>
				</ul>
			</nav>

			<section class="cart-section">
				<h1 class="d-none">장바구니</h1>
				<span class="text-title3">커피음료</span>				
				<a @click.prevent="menuAddHandler" class="btn btn-mini bg-blue" href="">메뉴추가</a>				
			</section>

		
			<section class="menu-section">
		        <h1 class="d-none">메뉴목록</h1>
		        <div class="menu-list">
					<section class="menu menu-reg-section border-bottom border-color-1" :class="{'d-none':isShowRegForm }">
		                <form class="overflow-hidden">
		                    <h1><input type="text" class="input w-75 w-100-md" name="name" placeholder="메뉴 이름을 입력하세요." v-model="menu.name"></h1> 
		                    <div class="menu-img-box">
								<img src="/image/product/blank-img.png" class="img-input">
								<input type="file" class="d-none">
		                    </div>
		                    <div class="menu-price"><input class="w-75 w-50-md input ml-0 ml-1-md" type="text" placeholder="가격을 입력하세요" v-model="menu.price"> 원</div>
		                    <div class="menu-option-list">
		                        <span class="menu-option">
		                            <input class="menu-option-input" type="checkbox">
		                            <label>ICED</label>
		                        </span>
		                        <span class="menu-option ml-2">
		                            <input class="menu-option-input" type="checkbox">
		                            <label>Large</label>
		                        </span>
		                    </div>
							<div class="menu-button-list">								
		                        <input class="btn btn-line btn-round btn-size-1 btn-bd-blue rounded-0-md" type="submit" value="취소">
		                        <input @click.prevent="menuSaveHandler" class="btn btn-fill btn-round rounded-0-md btn-size-1 btn-bd-blue btn-color-blue ml-1" type="submit" value="저장">
		                    </div>
		                </form>
		            </section>		            
		         
		            <section v-for="menu in list" class="menu border-bottom border-color-1" :class="{'d-none':isShowMenu}">
		                <form class="">
		                    <h1>{{menu.name}}</h1> 
		                    <div class="menu-img-box">
		                        <a href="detail?id=617"><img class="menu-img" src="/image/product/12.png"></a>
		                    </div>    
		                    <div class="menu-price">4500 원</div>
		                    <div class="menu-option-list">
		                        <span class="menu-option">
		                            <input class="menu-option-input" type="checkbox">
		                            <label>ICED</label>
		                        </span>
		                        <span class="menu-option ml-2">
		                            <input class="menu-option-input" type="checkbox">
		                            <label>Large</label>
		                        </span>
		                    </div>
							<div class="menu-button-list">
								<input class="btn btn-line btn-round btn-size-1 rounded-0-md" type="submit" value="수정">
		                        <input @click.prevent="menuRemoveHandler" class="btn btn-fill btn-round rounded-0-md btn-size-1 ml-1"  type="submit" value="삭제">
		                    </div>
		                </form>
		            </section>		 		            
		        </div>
		    </section>

			<div class="d-flex justify-content-center py-3">
				<a href="" class="btn btn-line btn-round w-100 w-50-md py-2">더보기(13+)</a>
			</div>

			<section class="new-menu menu-section-p">
				<h1 class="d-none">신메뉴 목록</h1>
				<!-- <ul>
                    <li>
                    </li>
                </ul>  -->
				<div class="list">
					<span>신규로 출시된 메뉴가 없습니다.</span>
				</div>
			</section>

		</section>
	</main> 


</html>
