/*--------------------------body footer-----------------------------------*/

.footer {
	/* text */
	color: var(--color-text-invert);
	font-size: 11px;
	
	/* layout */
	width:100%;
	height: 100px;
	
	margin: auto;
	background: var(--color-bg-dark);

	box-sizing: border-box;
	padding: 16px 48px;
	
	/* item-layout */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer>h2{
	margin-bottom: 10px;
}

.footer .info-title {
	/* text */
	font-size: inherit;
	font-weight: normal;
}

.footer .info-box {
	/* layout */
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto;
	column-gap: 7px;
	margin-top: 10px;
}

.footer .info-box .project-role {
	/* item layout */
	grid-area: 1/1/2/2;
}

.footer .info-box ul {
	/* reset */
	padding: 0;
	margin: 0;
	/* layout */
	grid-area: 1/2/2/3;
}

.footer .info-box .mentor {
	/* item layout */
	grid-area: 2/1/3/3;
	margin-top: 6px;
}

.footer dt::after {
	content: " : ";
}
