/*장바구니*/
.cart-section {
    height: 50px;
    box-sizing: border-box;

    background-color: var(--color-bg-light);

    margin: 20px 0;
    padding: 5px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {
    
}