<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/admin/menu/reg.css" rel="stylesheet" type="text/css">
    <script src="../../js/admin/list.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="header-menubar">
        <h1 class="d-none">알랜드</h1>
        <div>
            <div>
                <a href="" class="arrow-btn">뒤로가기</a>
            </div>
            <div>
                <a href="" class="menu-img-btn">메뉴</a>
            </div>
        </div>
    </header>
    
    <section class="menu-section">
        <div>
            <header>
                <h1>메뉴 목록[23]</h1>
                <div>
                    <a href="" class="search-btn">검색</a>
                </div>
            </header>

            <div class="tab">
                <span>전체메뉴</span>
                <a href="" class="d-none">범주관리</a>
            </div>

            <nav class="category-list">
                <h1 class="d-none">메뉴 카테고리</h1>
                <ul>
                    <li>
                        <a href="">커피음료</a>
                    </li>
                    <li>
                        <a href="">수제청</a>
                    </li>
                    <li>
                        <a href="">샌드위치</a>
                    </li>
                    <li>
                        <a href="">쿠키</a>
                    </li>
                </ul>
            </nav>

            <section class="menu-list">
                <h1 class="d-none">카테고리 메뉴 목록 및 등록</h1>
                
                <section class="reg-section">
                    <h1 class="d-none">메뉴 등록</h1>                    
                    <div class="add">
                        <a href="" class="add-btn">메뉴 추가버튼</a>
                    </div>
                    <form class="add-form d-none">
                        <div class="category">
                            <label for="category-list">메뉴범주 :</label>
                            <select name="" id="">
                                <option value="">커피음료</option>
                                <!-- <option value="">커피음료</option> -->
                            </select>
                        </div>
                        <div class="menu-info">
                            <a href="" class="img-select-btn">메뉴 이미지 선택</a>
                            <input type="text" class="name" placeholder="메뉴명을 입력하세요">
                            <span  class="price">
                                <input type="text">
                                <span>원</span>
                            </span>
                            <span class="iced">
                                <input type="checkbox" id="iced">
                                <label for="iced">ICED 가능</label>
                            </span>
                            <span class="large">
                                <input type="checkbox" id="size">
                                <label for="size">Large 가능</label>
                            </span>
                        </div>
                        <div class="btn-box">
                            <a href="" class="common-btn cancel-btn">취소</a>
                            <input type="submit" class="common-btn reg-btn" value="등록">
                        </div>
                    </form>                        
                </section>

                <div class="menu">
                    <div class="menu-info">
                        <img src="../../images/8.png" alt="알랜드 커피" class="menu-img">
                        <span class="menu-name">알랜드 커피</span>
                        <span class="menu-price">4,500원</span>                
                    </div>
                    <div class="menu-option">
                        <span class="iced">
                            <input type="checkbox" id="iced">
                            <label for="iced">ICED 가능</label>
                        </span>
                        <span class="size">
                            <input type="checkbox" id="size">
                            <label for="size">Large 가능</label>
                        </span>
                    </div>
                    <div class="recommend-menu-box">
                        <div>
                            <span>함께 시키면 맛나요!^^</span>
                            <a href="" class="add-btn-s">메뉴 추가버튼</a>
                            <a href="" class="common-btn">저장하기</a>
                        </div>
                        <div class="recommend-menu-list">
                            <div class="recommend-menu">
                                <img src="../../images/27.jpg" alt="">
                                <span>아몬드 쿠키</span> 
                            </div>
                            <div class="recommend-menu">
                                <img src="../../images/28.jpg" alt="">                                
                                <span>버터 쿠키</span>
                            </div>
                            <div>
                                <div class="prev-box">
                                    <a href="" class="prev-btn">이전</a>
                                </div>
                                <div class="next-box">
                                    <a href="" class="next-btn">다음</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu">
                    <div class="menu-info">
                        <img src="../../images/8.png" alt="알랜드 커피" class="menu-img">
                        <span class="menu-name">알랜드 커피</span>
                        <span class="menu-price">4,500원</span>
                    </div>
                    <div class="menu-option">
                        <span class="iced">
                            <input type="checkbox" id="iced">
                            <label for="iced">ICED 가능</label>
                        </span>
                        <span class="size">
                            <input type="checkbox" id="size">
                            <label for="size">Large 가능</label>
                        </span>
                    </div>
                    <div class="recommend-menu-box">
                        <div>
                            <span>함께 시키면 맛나요!^^</span>
                            <a href="" class="add-btn-s">메뉴 추가버튼</a>
                            <a href="" class="common-btn">저장하기</a>
                        </div>
                        <div class="recommend-menu-list">
                            <div class="recommend-menu">
                                <img src="../../images/27.jpg" alt="">
                                <span>아몬드 쿠키</span> 
                            </div>
                            <div class="recommend-menu">
                                <img src="../../images/28.jpg" alt="">                                
                                <span>버터 쿠키</span>
                            </div>
                            <div>
                                <div class="prev-box">
                                    <a href="" class="prev-btn">이전</a>
                                </div>
                                <div class="next-box">
                                    <a href="" class="next-btn">다음</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="more">
                <a href="" class="more-btn">더보기(13+)</a>
            </div> 
        </div>
    </section>    
</body>
</html>